<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>

<form action="">
<div class="row">
  <div class="col-md-4">
    <div class="well">

    </div>
  </div>

  <div class="col-md-8">
    <p style="white-space: break-spaces;">{{clothe.name}}</p>
    <p style="white-space: break-spaces;">{{clothe.description}}</p>
    <p style="white-space: break-spaces;">NT.{{clothe.price}}</p>
  </div>
  <hr>
</div>

