<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/public/user.png" width="300px" height="300px" style="transition: opacity 0.5s; opacity:0;"
        onload="this.style.opacity=1;" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">
          {{user.email}}
        </p>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'favorite'}}active{{/ifCond}}" href="/favorite">Favorite</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'orders'}}active{{/ifCond}}" href="/orders">Orders</a>
  </li>

</ul>