{{>user-profile route='orders'}}

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order Date</th>
      <th scope="col">Status</th>
      <th scope="col">  </th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    {{#if isOrder}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.createdAt}}</td>
      {{#if isDone}}
      <td>Done</td>
      {{else}}
      <td>Processing</td>
      {{/if}}
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/users/order/{{this.id}}">
            Detail
          </a>
        </button>
      </td>
    </tr>
    {{/if}}
    {{/each}}
  </tbody>
</table>