<ul class="list-group">
  {{#each order.OrderDetails}}
  <li class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
      <span>{{this.Clothe.name}}</span>
      <span class="badge badge-primary badge-pill">{{this.quantity}}</span>
    </div>
    <p class="mb-0">total: NT. {{this.Clothe.price}}</p>
  </li>
  {{/each}}
</ul>